<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Page</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500;700&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <div class="login">
            <h1>Log In</h1>
            <input placeholder="email" type="email">
            <input placeholder="password" type="password">
            <button>Log In</button>
            <div>
                <p>Or connect us with</p>
                <p><a href="#"><i class="fa-brands fa-facebook fa-xl"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter fa-xl"></i></a>
                    <a href="#"><i class="fa-brands fa-github fa-xl"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                </p>
            </div>
        </div>
        <div class="signup">
            <i class="fa-solid fa-fingerprint fa-2xl" style="color: #ffffff;"></i>
            <h1>Split Page</h1>
            <p>Split Page is a free tool for friends and roommates to track bills and other shared expenses, so that
                everyone gets paid back.</p>
            <button id="signup">Sign Up <i class="fa-solid fa-arrow-right fa-lg" style="color: #ffffff;"></i></button>
        </div>
    </main>
</body>

</html>